@import "../../Sass/variables";

.main {
    background-image: url(../../assets/vision_naoplay.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    .login {
        max-width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 0.8vw;
        
        &__title{ 
          font-family: $Jakarta;
          font-weight: 500;
          text-align: center;
        }
        .label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
      
          label {
            font-family: $Dm;
            color: #333;
            font-weight: 500;
          }
      
          .input {
            border: none;
            width: 100%;
            //border-bottom: 2px solid $dark;
            background-color: #f2f2f2;
      
            &:focus {
              outline: none;
              border-bottom: 0.1vw solid #007aff;
            }
          }
        }
      
        button {
          border: none;
          background: $dark;
          color: $light;
          border-radius: 20px;
          font-weight: bold;
          transition: background-color 0.3s ease;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          font-family: $syne;
      
          &:hover {
            transform: scale(1.05);
            background-color: $dark;
            color: $light;
          }
        }
      }

  }
  
  

// Styles pour les petits écrans
@media screen and (max-width: 768px) {

    .main{
        height: 80vh;
    }
  
    .login {
      
      padding: 2rem;
      width: 90vw;
      &__title{
        margin-bottom: 2rem;
        font-size: 35px;
      } 
      .label {
        margin-bottom: 0.8rem;
  
        label {
          background-color: red;
          font-size: 10px;
          margin-bottom: 1rem;
        }
  
        .input {
          font-size: 4vw;
          padding: 1rem;
          margin-top: 0.5vw;
        }
      }
  
      button {
        margin-top: 2rem;
        padding: 4vw 8vw;
        font-size: 20px;
      }
    }
  }
  


@media screen and (min-width: 769px) and (max-width: 1900px) {
   
      .login {
        
        margin-top: 4rem;
        padding: 6rem;
        width: 70vw;
        height: 60vh;
        &__title{
          font-size: 50px;
          margin-bottom: 2rem;
        }
        .label {
          margin-bottom: 0.8rem;
      
          label {
            font-size: 25px;
            margin-bottom: 0.5vw;
          }
      
          .input {
            padding: 1rem;
            font-size: 1.5vw;
            margin-top: 0.5vw;
          }
        }
      
        button {
          margin-top: 2rem;
          padding: 1.5vw 3vw;
          font-size: 25px;
        }
      }
      
}

@media screen and (min-width: 1901px) {
    h1 {
      font-size: 6vw;
    }
    
    .login {
      padding: 4vw;
      border-radius: 1vw;
      width: 60vw;
      &__title{
        font-size: 60px;
      }
      .label {
        label {
          font-size: 2vw;
        }
        
        .input {
          border-bottom: 0.1vw solid #ccc;
          padding: 1rem;
          font-size: 2vw;
          margin-top: 1vw;
        }
      }
      
      button {
        padding: 2rem;
        border-radius: 10rem;
        font-size: 25px;
        margin-top: 2rem;
      }
      button:hover{
        color: $dark;
        background: $light;
      }
    }
  }
  