@import "../../Sass/variables";

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vw;
    

    h1 {
        font-family: $Dm;
        font-weight: bold;
        text-align: center;
      }
      
      .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 0.8vw;
      
        .label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
      
          label {
            font-family: $Dm;
            color: #333;
            font-weight: 500;
          }
      
          .input {
            width: 100%;
            border: none;
            border-bottom: 0.1vw solid #ccc;
            background-color: transparent;
      
            &:focus {
              outline: none;
              border-bottom: 0.1vw solid #007aff;
            }
          }
        }
      
        button {
          border: none;
          background: $dark;
          color: $light;
          border-radius: 0.8vw;
          font-weight: bold;
          transition: background-color 0.3s ease;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          //width: 100%;
          font-family: $syne;
      
          &:hover {
            transform: scale(1.05);
            background-color: $dark;
            color: $light;
          }
        }
      }

  }
  
  

// Styles pour les petits écrans
@media screen and (max-width: 768px) {

    .main{
        height: 150vw;
    }

    h1 {
      font-size: 10vw;
    }
  
    .login {
      padding: 8vw;
      width: 90vw;
  
      .label {
        margin-bottom: 2vw;
  
        label {
          font-size: 4vw;
          margin-bottom: 1vw;
        }
  
        .input {
          font-size: 4vw;
          padding: 4vw;
          margin-top: 0.5vw;
        }
      }
  
      button {
        padding: 4vw 8vw;
        font-size: 5vw;
      }
    }
  }
  


@media screen and (min-width: 769px) and (max-width: 1900px) {
    h1 {
        font-size: 3.5vw;
      }
      
      .login {
        padding: 2.5vw;
        width: 70vw;
      
        .label {
          margin-bottom: 2vw;
      
          label {
            font-size: 1.5vw;
            margin-bottom: 0.5vw;
          }
      
          .input {
            padding: 1.5vw;
            font-size: 1.5vw;
            margin-top: 0.5vw;
          }
        }
      
        button {
          padding: 1.5vw 3vw;
          font-size: 2.5vw;
        }
      }
      
}

@media screen and (min-width: 1901px) {
    h1 {
      font-size: 6vw;
    }
    
    .login {
      padding: 4vw;
      border-radius: 1vw;
      width: 80vw;
      
      .label {
        label {
          font-size: 2vw;
        }
        
        .input {
          border-bottom: 0.1vw solid #ccc;
          padding: 2vw;
          font-size: 2vw;
          margin-top: 1vw;
        }
      }
      
      button {
        padding: 2vw 4vw;
        border-radius: 1vw;
        font-size: 3vw;
        margin-top: 2rem;
      }
      button:hover{
        color: $dark;
        background: $light;
      }
    }
  }
  