@import '../../Sass/variables.scss';

.management {
    background: $primary;
    color: $light;

    &__title {
        font-family: 'MonumentExtended', sans-serif;
    }

    &__content::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1900px) {
    .management {
        min-height: 100vh;

        &__title {
            display: none;
        }

        &__content {
            width: 100%;
            min-height: 250px;
            padding: 30px 100px;
            display: flex;
            flex-flow: row nowrap;
            gap: 100px;
            font-family: $syne;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            position: relative;

            .arrow_1 {
                display: none;
            }

            .arrow_2 {
                display: none;
            }

            & p {
                margin-top: .8rem;
                font-family: $Dm;
            }
        }
    }
}

@media screen and (min-width: 1901px) {
    .management {
        min-height: 100vh;

        &__title {
            display: none;
        }

        &__content {
            width: 100%;
            min-height: 250px;
            padding: 30px 100px;
            display: flex;
            flex-flow: row nowrap;
            gap: 100px;
            font-family: $syne;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            position: relative;

            .arrow_1 {
                display: none;
            }

            .arrow_2 {
                display: none;
            }

            & p {
                margin-top: .8rem;
                font-family: $Dm;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .management {
        padding: 2.5rem 1rem;

        &__content {
            display: flex;
            flex-flow: row nowrap;
            gap: 2rem;
            font-family: $syne;
            font-size: 25px;
            font-weight: 500;
            line-height: 30px;
            overflow: scroll;
            position: relative;

            &__child {
                min-width: 100%;
            }

            .arrow_1 {
                position: absolute;
                bottom: 2px;
                right: 10px;
                font-size: 30px;
                color: $primary;
                background: $light;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }

            .arrow_2 {
                position: absolute;
                bottom: 2px;
                right: -23rem;
                font-size: 2rem;
                background: $light;
                color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }

        &__title {
            margin-top: 30px;
            font-size: 30px;
            line-height: 30px;
            font-weight: 100;
        }

        &__content {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
        }

        & p {
            margin-top: 30px;
            padding: 0rem 1rem;
        }
    }   

    

}