@import '../../Sass/variables.scss';
@font-face {
    font-family: 'MonumentExtended';
    src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.management {
    padding: 1rem 1rem;
    background: $primary;
    color: $light;

    &__title {
        font-family: 'MonumentExtended', sans-serif;

    }

    

    &__content::-webkit-scrollbar {
        width: 0;
    }
    

    @media screen and (max-width: 768px) {
        .management {
            &__content {
                display: flex;
                flex-flow: row nowrap;
                gap: 2rem;
                font-family: $syne;
                font-size: 25px;
                font-weight: 500;
                line-height: 30px;
                overflow: scroll;
                position: relative;
                &__child {
                    min-width: 100%;
                }
                .arrow_1 {
                    position: absolute;
                    bottom: 2px;
                    right: 10px;
                    font-size: 30px;
                    color: $primary;
                    background: $light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
                .arrow_2 {
                    position: absolute;
                    bottom: 2px;
                    right: -23rem;
                    font-size: 2rem;
                    background: $light;
                    color: $primary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
            }
            &__title {
                font-size: 30px;
                line-height: 30px;
                font-weight: 100;
            }

            &__content {
                font-size: 25px;
                font-weight: 700;
                line-height: 30px;
            }
        
        }
        & p{
            padding: 0rem 1rem 0rem 1rem;
        }
        
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1900px) {
        .management{
            padding: 3rem 5rem 2rem 5rem;
            &__title{
                display: none;
            }
            &__content{
                display: flex;
                flex-flow: row nowrap;
                gap: 8rem;
                font-family: $syne;
                font-size: 25px;
                font-weight: 500;
                line-height: 30px;
                overflow: scroll;
                position: relative;
                .arrow_1{
                    display: none;
                }
                .arrow_2{
                    display: none;
                }
                & p{
                    font-size: 25px;
                    font-family: $Dm;
                }
            }
        }
}
