@import '../../Sass/variables.scss';
@font-face {
    font-family: 'MonumentExtended';
    src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.naoplay {
    height: 60vh;
    padding: 1rem 1rem;
    background: $light;
    color: $dark;
    
    &__title {
        font-family: 'MonumentExtended', sans-serif;
    }

    &__soustitres {
        font-family: $Dm;
    }

    &__txt {
        font-family: $Dm;
    }
    

    &__content::-webkit-scrollbar {
        width: 0;
    }
    
    

    @media screen and (max-width: 768px) {
        .naoplay {
            &__content {
                font-size: 20px;
                font-weight: 500;
                line-height: 25px;
                &__child {
                    min-width: 100%;
                }
                display: flex;
                flex-flow: row nowrap;
                overflow: hidden;
                position: relative;
                
                .arrow_1 {
                    position: absolute;
                    bottom: 2px;
                    right: 10px;
                    color: $light;
                    background: $dark;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
                .arrow_2 {
                    position: absolute;
                    bottom: 2px;
                    right: -23rem;
                    font-size: 2rem;
                    background: $dark;
                    color: $light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
            }
            &__btn{
                display: none;
            }
            &__title {
                font-size: 30px;
                line-height: 30px;
                font-weight: 500;
            }
            &__image{
                display: none;
                
            }
            &__soustitres {
                margin-top: 0rem;
                font-size: 20px;
                line-height: 26px;
                font-weight: bold;
            }
            &__txt {
                
                font-size: 20px;
                font-weight: bold;
                line-height: 25px;
            }
            

        }
    }

}
@media screen and (min-width: 769px) and (max-width: 1900px){
    .naoplay{
        height: 50vh;
        padding: 5rem;
        display: flex;
        justify-content: center;
        &__intro{
            display: flex;
            
        }
        &__title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            letter-spacing: 2px;
            font-size: 35px;
        }
        &__txt{
            font-weight: 500;
            font-size: 22px;
            
        }  
        
        &__soustitres{
            font-weight: bold;
            font-size: 23px;
        }
        
        &__image{
            width: 420px;
            
            animation-name: move; 
            animation-duration: 2s; 
            animation-iteration-count: infinite; 
            animation-direction: alternate; 
            animation-timing-function: ease-in-out;
            
            @keyframes move {
                from {
                    transform: translateY(-20px);
                  }
                to {
                    transform: translateY(0);
                }
        }
        
        }
        .arrow_1{
            display: none;
        }
        .arrow_2{
            display: none;
        }
    }
}