footer {
  background-color: #1B1B1B;
  color: #fff;
  padding: 50px 0;
}

.footer-top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  margin-bottom: 10px;
}

.footer-menu ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-menu ul li a:hover {
  color: #FFC100;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social ul li {
  margin-right: 10px;
}

.footer-social ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-social ul li a:hover {
  color: #FFC100;
}

.footer-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contact ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-contact ul li i {
  margin-right: 10px;
}
