@import '../../sass/variables';

@font-face {
    font-family: 'MonumentExtended';
    src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.footer {
    color: $light;
    position: relative;

   

    &__bg--image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../../assets/eye-naoplay.webp") no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    &__elements {
        h2,p {
            font-family: $syne;
        }

        h1 {
            font-family: 'MonumentExtended', sans-serif;
            text-transform: uppercase;
        }
    }

    &__icons {
        display: flex;
        gap: 1rem;

        a {
            width: 40px;
            height: 40px;
            display: inline-block;
            text-decoration: none;
            color: $dark;
            background-color: $light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4rem;
        }
    }

    &__mentions {
        font-family: $syne;
        text-decoration: none;
        color: $light;
        
    }

   
    @media screen and (max-width: 768px) {
        .container {
            padding: 1rem;
            width: 90%;
        }
        .footer {
            &__links{
                &__top{
                    display: none;
                }
            }
            &__btn {
                display: inline-block;
                width: fit-content;
                padding: 1rem 2rem;
                margin-bottom: 2.5rem;
                color: $dark;
                background-color: $light;
                font-family: $syne;
                font-weight: 700;
                text-decoration: none;
            }
            &__mentions {
                display: block;
                font-size: 17px;
                line-height: 25px;
                font-weight: 500;
                margin-bottom: 1rem;
                margin-left: 1rem;
            }

            &__copyright {
                background: $dark;
                color: white;
                line-height: 20px;
                font-family: $Dm;
                justify-content: space-evenly;
                padding: 1.5rem 0 1.5rem 2rem;
                small {
                    display: block;
                }
            }

            &__btn {
                font-size: 15px;
            }

            &__contact {
                h1 {
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: Medium;
                }

                h2 {
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 500;

                }
                h1,
                h2 {
                    margin-bottom: 2.5rem;
                }
            }

        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1900px){
    .footer{
       
        padding: 15rem 10rem 2rem 7rem  ;
       
        &__btn {
            display: inline-block;
            width: fit-content;
            padding: 1rem 2rem;
            color: $dark;
            background-color: $light;
            font-family: $syne;
            font-weight: 700;
            text-decoration: none;
        }
        &__links{
            flex-direction: column;
            text-align: end;
            &__top{
                display: block;
                text-align: end;
                margin-bottom: 2rem;
                text-decoration: none;
                color: $light;
            }
        } 
        
        &__elements{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        &__elements h1{
            letter-spacing: 1px;
            font-size: 40px;
        }
        &__elements h2{
            font-size: 25px;
            line-height: 1.5;
            font-weight: 100;
        }
        &__icons{
            justify-content: end;
        }
        
        
    }
    .mentions{
        display: flex;
        justify-content: space-between;
        gap: 30rem;
    }
    .container {
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .informations{
        justify-content: space-between;
        display: flex;
        transition: transform 0.3s ease-out;
    }    
    .informations:hover {
        transform: scale(1.1);
    }
        
         
}