@import '../../Sass/variables.scss';
@font-face {
    font-family: 'MonumentExtended';
    src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

.Gateway{
    padding: 3rem;
    color: $dark;
    height: 100vh;

    &__title {
        font-family: 'MonumentExtended', sans-serif;
    }
    &__content::-webkit-scrollbar {
        width: 0;
    }
    
}




@media screen and (max-width: 768px) {
    .Gateway{
        display: none;
    }
}


@media screen and (min-width: 769px) and (max-width: 1900px){
    .Gateway{
        display: grid;
        grid-template-columns: 1fr 2fr;
        &__content__child p{
            font-family: $syne;
            font-size: 30px;
            font-weight: bold;
        }
        &__title{
            
            margin-top: 1rem;
            margin-left: 6rem;
            font-size: 70px;
            text-align: start;
        }

    }
    .partone{
        
        text-align: right;
        line-height: 120px;
        background: $dark;
        color: $light;
    }
    .partone:hover{
        background-color: $primary;
        scroll-behavior: smooth;
    }
    .parttwo{
        text-align: start;
        
        
    }
    .G1,
    .G2,
    .G3,
    .G4,
    .G5 {
        display: inline-block;
        position: relative;
        border-bottom: 1rem solid $primary;
        border-right: 2rem solid transparent;
        line-height: 36px;
        width: fit-content;
    }
    .G1{
        margin-left: 10rem;
    }
    .G2{
        margin-left: 25rem;
    }
    .G3{
        vertical-align: middle;
        margin-left: 50rem;
    }
    .G4{
        margin-left: 30rem;
    }
    .G5{
        margin-left: 10rem;
    }
}