@import '../../Sass/variables.scss';

.api__management {
    height: calc(100vh - 250px);
    background-color: $light;
    color: $dark;
}

@media screen and (min-width: 769px) and (max-width: 1900px) {

    .api__management {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;

        &__left {
            width: 30%;
            display: block;
            text-align: end;
        }

        &__center {
            position: relative;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .api__management__title {
                display: flex;
                align-items: center;
                font-family: 'MonumentExtended', sans-serif;
                font-size: 48px;
                font-weight: 500;
            }

            .cercle {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 500px;
                height: 500px;
                margin: auto;
                //background: red;
                border-radius: 50%;
                z-index: 2;
                animation: zoom 1.5s infinite;
            }

            @keyframes zoom {
                0% {
                    border: 1px solid aqua;
                    opacity: .8;
                }
                
                15% {
                    border: 1px solid aqua;
                    transform: scale(1.2);
                    opacity: .6;
                }

                30% {
                    border: 1px solid aqua;
                    transform: scale(1.4);
                    opacity: .4;
                }

                45% {
                    border: 1px solid aqua;
                    transform: scale(1.6);
                    opacity: 1;
                }

                60% {
                    border: 1px solid aqua;
                    transform: scale(1.8);
                    opacity: .8;
                }

                75% {
                    border: 1px solid aqua;
                    transform: scale(2);
                    opacity: .6;
                }

                90% {
                    border: 1px solid aqua;
                    transform: scale(2.2);
                    opacity: .4;
                }
    
                100% {
                    border: 1px solid aqua;
                    transform: scale(2.5);
                    opacity: 1;
                }
            }
        }

        &__right {
            width: 27%;
            display: block;
            text-align: start;
        }

        &__link {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            margin: 2rem 0rem;
            font-family: $syne;
            color: #000F14;
            z-index: 10;

            span {
                padding: 0 1rem;
                font-size: 18px;
                font-weight: 700;
            }
        }

        &__logo {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease-in-out;

            img {
                width: 80px;
                height: auto;
            }
        }

        &__logo:hover {
            transform: scale(1.1);
            color: $primary;
        }
    }
}
@media screen and (min-width: 1901px) {

    .api__management {
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;

        &__left {
            width: 25%;
            display: block;
            text-align: end;
        }

        &__center {
            position: relative;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .api__management__title {
                display: flex;
                align-items: center;
                font-family: 'MonumentExtended', sans-serif;
                font-size: 55px;
                font-weight: 500;
            }
            .cercle {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 200px;
                height: 200px;
                margin: auto;
                //background: red;
                border-radius: 50%;
                z-index: 2;
                animation: zoom 1.5s infinite;
            }
            .cercle1 {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 260px;
                height: 260px;
                margin: auto;
                //background: red;
                border-radius: 50%;
                z-index: 2;
                animation: zoom 1.5s infinite;
            }
            .cercle2 {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 300px;
                height: 300px;
                margin: auto;
                //background: red;
                border-radius: 50%;
                z-index: 2;
                animation: zoom 1.5s infinite;
            }

            @keyframes zoom {
                0% {
                    border: 1px solid $primary;
                    opacity: .8;
                }
                
                15% {
                    border: 1px solid $primary;
                    transform: scale(1.2);
                    opacity: .6;
                }

                30% {
                    border: 1px solid $primary;
                    transform: scale(1.4);
                    opacity: .4;
                }

                45% {
                    border: 1px solid $primary;
                    transform: scale(1.6);
                    opacity: 1;
                }

                60% {
                    border: 1px solid $primary;
                    transform: scale(1.8);
                    opacity: .8;
                }

                75% {
                    border: 1px solid $primary;
                    transform: scale(2);
                    opacity: .6;
                }

                90% {
                    border: 1px solid $primary;
                    transform: scale(2.2);
                    opacity: .4;
                }
    
                100% {
                    border: 1px solid $primary;
                    transform: scale(2.5);
                    opacity: 1;
                }
            }
        }

        &__right {
            width: 30%;
            display: block;
            text-align: start;
        }

        &__link {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            margin: 2rem 0rem;
            font-family: $syne;
            color: #000F14;
            z-index: 10;

            span {
                padding: 1rem;
                font-size: 28px;
                font-weight: 700;
            }
        }

        &__logo {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease-in-out;

            img {
                width: 80px;
                height: auto;
            }
        }

        &__logo:hover {
            transform: scale(1.1);
            color: $primary;
        }
    }
}

@media screen and (max-width: 768px) {
    .api__management {
        display: none;
    }
}