@import '../../Sass/variables.scss';

body{
    margin: 0;
}
.management{
    padding: 5rem 2rem;
    background: $primary;
    color: $light;
    
   
    &__content{
        display: flex;
        flex-flow: row nowrap; 
        gap: 2rem;
        font-family: $Dm;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.85rem;
        overflow: scroll;
        &__child{
          min-width: 100%;
        }
    }
    &__content::-webkit-scrollbar{
        width: 0;
    }
    
      
}
