@import "../../sass/variables";
@font-face {
    font-family: 'MonumentExtended';
    src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.error1{
    background: $primary;
    
    & h1{
        font-family: 'MonumentExtended', sans-serif;
        font-weight: 700;
        color: $light; 
    }
    & p{
        font-family: $syne;
        font-weight: 700;
        color: $light;
    }
    
}

@media (max-width: 768px) { 
    .error1{
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start; 
        &__bouton{
            margin-left: 2rem;
            margin-bottom: 4rem;
            text-decoration: none;
            color: $dark;
            align-items: center;
            display: flex; 
            justify-content: center;
            padding: 0.75rem 1.5rem;
            font-family: $syne;
            font-weight: 700;
            transition: background-color 0.3s ease;
            width: 78px;
            height: 18px;
            background: $light;
        }
        & h1{
            font-size: 30px;
            margin-left: 1rem;
            text-align: left;
        }
        & p{
            text-align: left;
            margin-left: 1rem;
            font-size: 25px;
        }
        img{
            height: 594px;
            width: 396px;
            justify-content: center;
            margin-top: -6rem;
            margin-bottom: -4rem;
        }
        .desktop{
            display: none;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1900px) {
    .error1{
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        height: 100vh;

        .firstpart{
            display: flex;
            justify-content: center;
            height: 100vh;
            
            background: $light;
            
            display: flex;
            justify-content: center;
            background-size: cover;
        }
        h1{
            font-size: 70px;
            line-height: 80px;
        }
        p{
            margin-bottom: 4em;
            font-size: 30px;
            line-height: 40px;
        }
        img{
            width: 600px;
            transform: scaleX(-1);
            
        }
        img:hover{
           transform:translate(5px, 5px);
        }
        .secondpart{
            padding: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: flex-end;
        }
        &__bouton{
            margin-left: 2rem;
            margin-bottom: 2rem;
            text-decoration: none;
            color: $dark;
            align-items: center;
            padding: 0.75rem 1.5rem;
            font-family: $syne;
            font-weight: 700;
            transition: background-color 0.3s ease;
            width: 78px;
            height: 18px;
            background: $light;
        }
    }
    .mobile{
        display: none;
    }
    
}
