@import '../../Sass/variables.scss';
@font-face {
  font-family: 'MonumentExtended';
  src: url('../../Sass/fonts/MonumentExtended-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.contact {
      background: $dark;
      color: $light;
      &__btn{
        text-align: center;
        justify-content: center;
        text-decoration: none;
        font-family: $syne;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: $light;
        color: $dark;
        width: 240px;
        height: 55px;
        display: inline-block;
        align-self: flex-start; 
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: $primary;
          color: $light;
        }
      }
     
      .no-outline:focus {
        outline: none;
      }
      
      }
      &__content::-webkit-scrollbar {
            width: 0;
      }
      ::placeholder {
        color: $light;
        font-family: $syne;
        text-align: right;
      }
      @media screen and (max-width: 768px) {
            .contact{
              flex-direction: row;
              align-items: flex-end;
              justify-content: center;
              padding: 1rem 1rem;
                &__content {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                }
                &_desktop{
                  display: none;
                }
            }
            & p {
              font-family: $syne;
              font-weight: bold;
              line-height: 35px;
              text-align: end;
              padding: 2rem;
              font-size: 25px;
            }
            
        }
    
    }
    @media screen and (min-width: 769px) and (max-width: 1900px){
          .contact{
            &_desktop{

            }
          }
    }

    
  
    