@import '../../Sass/variables.scss';

.naoplay-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.naoplay {
  background: $light;
  color: $dark;

  &__title {
    font-family: 'MonumentExtended', sans-serif;
  }

  &__btn {
    /*text-decoration: none;
    color: $dark;
    display: inline-block;
    padding: 1rem;
    background-color: $primary;
    font-family: $syne;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease;*/
    background-color: $primary;
    color: #000f14;
    display: inline-block;
    font-family: Syne,sans-serif;
    font-weight: 700;
    padding: 1rem 2rem;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    &:hover {
      background-color: $dark;
      color: $light;
    }
  }

  &__soustitres {
    font-family: $Dm;
  }

  &__txt {
    font-family: $Dm;
  }

  &__content::-webkit-scrollbar {
    width: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1900px) {
  .naoplay {
    padding: 2rem;
    display: flex;
    justify-content: center;

    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__title {
      font-size: 48px;
      letter-spacing: 2px;
    }

    &__txt {
      font-weight: 500;
      font-size: 22px;
    }

    &__soustitres {
      font-weight: bold;
      font-size: 26px;
    }

    &__image img {
      width: 420px;
      animation-name: move;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;

      @keyframes move {
        from {
          transform: translateY(-20px);
        }

        to {
          transform: translateY(0);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;
    }

    .show__first {

      .first__child {
        display: block;
      }

      .second__child {
        display: none;
      }
    }

    .show__second {

      .first__child {
        display: none;
      }

      .second__child {
        display: block;
      }
    }

    &__button {
      width: 48px;
      height: 48px;
      background-color: $primary;
      border-radius: 24px;
    }

    &__button__default svg {
      width: 100%;
      height: auto;
      color: #fff;
    }

    &__button__next svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(0deg);
      transition: 0.6s ease;
    }

    &__button__prev svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(-180deg);
      transition: 0.6s ease;
    }
  }
}

@media screen and (min-width: 1901px) {
  .naoplay {
    height: auto;
    background-color: red;
    display: flex;
    justify-content: center;

    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__title {
      font-size: 48px;
      letter-spacing: 2px;
    }

    &__txt {
      font-weight: 500;
      font-size: 22px;
    }

    &__soustitres {
      font-weight: bold;
      font-size: 26px;
    }

    &__image img {
      width: 420px;
      animation-name: move;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;

      @keyframes move {
        from {
          transform: translateY(-20px);
        }

        to {
          transform: translateY(0);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;
    }

    .show__first {

      .first__child {
        display: block;
      }

      .second__child {
        display: none;
      }
    }

    .show__second {

      .first__child {
        display: none;
      }

      .second__child {
        display: block;
      }
    }

    &__button {
      width: 48px;
      height: 48px;
      background-color: $primary;
      border-radius: 24px;
    }

    &__button__default svg {
      width: 100%;
      height: auto;
      color: #fff;
    }

    &__button__next svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(0deg);
      transition: 0.6s ease;
    }

    &__button__prev svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(-180deg);
      transition: 0.6s ease;
    }
  }

}

@media screen and (max-width: 768px) {
  .naoplay {
    margin-bottom: 50px;
    
    &__title {
      margin: 30px 0;
      font-size: 32px;
      font-weight: 500;
    }

    &__btn {
      display: none;
    }

    &__image {
      display: none;
    }

    &__content {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;
    }

    &__txt {
      font-weight: 500;
      font-size: 22px;
    }

    &__soustitres {
      font-weight: 700;
      font-size: 22px;
    }

    .show__first {

      .first__child {
        display: block;
      }

      .second__child {
        display: none;
      }
    }

    .show__second {

      .first__child {
        display: none;
      }

      .second__child {
        display: block;
      }
    }

    &__button {
      width: 48px;
      height: 48px;
      background-color: $primary;
      border-radius: 24px;
    }

    &__button__default svg {
      width: 100%;
      height: auto;
      color: #fff;
    }

    &__button__next svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(0deg);
      transition: 0.6s ease;
    }

    &__button__prev svg {
      width: 100%;
      height: auto;
      color: #fff;
      transform: rotate(-180deg);
      transition: 0.6s ease;
    }

  }
}