@import '../../Sass/variables.scss';

footer {
  color: $light;
  position: relative;
  background: $dark;
  width: 100%;
  }
  
  .footer-content {
    font-size: 25px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-section {
    font-family: $Jakarta;
    display: flex;
  }
  
  .links a,
  .social a {
    color: $light;
    text-decoration: none;
  }
  
  .footer__icons {
    display: flex;
  
  }
  
  .footer__icons a {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    background-color: $light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__icons a:hover {
    transform: scale(1.1);
    background-color: $dark;
    color: $light;
  }
  
  .footer-bottom {
    font-family: $Jakarta;
    display: grid;
    justify-content: flex-end;
    border-top: 1px solid $light;
  }

  .footer-legal {
    display: grid;
    justify-content: flex-start;
    max-width: 1000px;
  }
  
  .footer-legal a {
    font-family: $Jakarta;
    color: $light;
    text-decoration: none;

  }
/*Mobile*/ 
@media screen and (max-width: 768px) {
    footer {
      height: 20vh;
      padding: 0.6rem;
    }
    
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
    
    .links a,
    .social a {
      padding: 0.4rem;
      font-size: 15px;
    }
    
    .footer__icons {
      gap: 2;
      margin-bottom: 0.2rem;
    }

    .footer-legal{
      max-width: 100%;
      font-size: 13px;
      //text-align: center;
      margin: -1rem auto 0;
    }
    
    .footer__icons a {
      width: 50px;
      height: 50px;
      font-size: 16px;
      margin-right: 1rem;
    }
    
    .footer-bottom{
     //max-width: 100%;
      font-size: 13px;
      text-align: center;
      margin: 1rem auto 0;
    }
    small{
      margin-top: 1rem;
    }
    .footer-legal a {
      margin-right: 1rem;
    }
  }
  

  @media screen and (min-width: 769px) and (max-width: 1900px) {
    
    footer {
      padding: 0.4rem;
    }
    
    .footer-content {
      margin: 1rem 12rem;
      justify-content: space-between;
      //height: 100%;
    }
    
    .links a,
    .social a {
      margin-right: 2rem;
      padding: 1.2rem;
      font-size: 23px;
    }
    
    .footer__icons {
      margin-right: -5rem;
      gap: 2rem;
      padding: 1rem;
      //margin-bottom: 2rem;
    }
    
    .footer__icons a {
      width: 50px;
      height: 50px;
    }
    
    .footer-bottom {
      margin: 0 auto;
      font-size: 18px;
      padding: 1rem;
      padding-right: 8rem;
      //padding-bottom: 0.8rem;
    }
    small{
      margin-top: 0.3rem;
    }
    .footer-legal {
      //padding-top: rem;
      padding-bottom: 1rem;
      
      font-size: 18px;
      margin: -2rem auto 0;
      
    }
    /*.footer-legal a {
      margin-right: 3vw;
    }*/
    
  }

  @media screen and (min-width: 1901px) {
    
    footer {
      height: auto;
      padding: 0.2rem;
    }
    
    .footer-content {
      margin: 2rem 12rem ;
      gap: 2rem;
      justify-content: space-between;
      
    }
    
    .links a{
      margin-right: 2rem;
      padding: 1rem 2rem 0 2rem;
      font-size: 25px;
    }
    
    .footer__icons {
      margin-bottom: 1rem;
      margin-right: -30rem;
      gap: 2rem;
    }
    
    .footer__icons a {
      width: 60px;
      height: 60px;
    }
    
    .footer-bottom {
      margin: 2rem;
      font-size: 18px;
      padding-right: 10rem;
      //padding-top: 1rem;
      
    }
    small{
      margin-top: 2rem;
    }
   .footer-legal {
        margin: 1rem 13rem;
        font-size: 18px;
        margin-top: -4rem;
        padding-top: 0.4rem;
    }
  
  }